* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;

}

body {
    background: url(./R\ \(1\).jpeg);
    background-size: cover;

}

.calculator {

    width: 20%;
    height: 20%;
    padding: 10px;
    margin: 15% auto;
    display: block;
    background-image: linear-gradient(to bottom, #e2871f, #8d5a20);
}

.row,
.footer {
    display: flex;
}

.row button,
.footer button {
    width: calc(30% - 5px);
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f0f0f0;
    font-size: 30px;
}

.operations
 {
    padding: 10px;
    border: 1px solid #ccc;
    width: calc(30%);
    height: 50px;
    font-size: 30px;
}

.buttons {
    display: flex;
    
}
 button:hover{
    background-color: #ccc;
   
 }

input {
    margin-bottom: 20px;
    height: 60px;
    width: 100%;
    font-size: 20px;

}